body{
    /* background-color: antiquewhite; */
    margin: 0;
}

.container-banner{
    background-color: rgb(218, 163, 118);
}
.banner, .recipes-list, * {
    text-align: center;
    font-family: "Arial", "Georgia", "Garamond";
}
h2.banner{
    font-size: 24px;

}
h2.top-banner{

    background-color: bisque;
}

.banner, .name{
    font-weight: bold;
}
.banner{
    font-size: 48px;
    margin: 0;
}
.name{
    font-size: 24px;
    margin: 0 0 0 0;

}
.recipes-list{
    margin: 0;
    list-style: none;
    padding: 0 0 0 0;
}

.small-picture{
    height: auto;
    width: 40%;

}
.container-recipes{
    text-align: center;
    padding-top: 32px;
    border-top: 2px dotted black;
}
.picture{
    height: auto;
    width: 70%;
}
h3{
    font-size: 32px;
    margin: 0;
}
.container-recipes .steps-list li{
    text-align: left;
}
.background-light{
    background-color: rgb(245, 245, 245);
}
.background-dark{
    background-color: rgb(230, 230, 230);
}

.container-recipes > div{
    margin: 0;
    padding: 20px 0;
}
.container-recipes > div > p{
    margin: 0;
}
